{% extends 'index.html' %}
{% block carousel %}
{% endblock carousel %}
{% block page %}
<div class="container-fluid bg-dark p-5">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="display-4 text-white">About Us</h1>
            <a href="">Home</a>
            <i class="far fa-square text-primary px-2"></i>
            <a href="">About</a>
        </div>
    </div>
</div>
{% endblock page %}
{% block service %}
{% endblock service %}
{% block features %}
{% endblock features %}
{% block quote %}
{% endblock quote %}
{% block testimonial %}
{% endblock testimonial %}
{% block blog %}
{% endblock blog %}
